<h1 class="text-center">My Blog</h1>

<% @blog_posts.each do |blog_post| %>
  <div class="mx-auto max-w-md m-2 overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl">
    <div class="md:flex">
      <div class="md:shrink-0">
        <%# <img
        class="h-48 w-full object-cover md:h-full md:w-48"
        src="/img/building.jpg"
        alt="Modern building architecture"
      /> %>
      </div>
      <div class="p-8">
        <% if blog_post.draft? %>
          <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
        <% end %>
        <% if blog_post.scheduled? %>
          <div class="p-2 rounded bg-blue-100 text-blue-900">Scheduled</div>
        <% end %>
        <h2><%= link_to blog_post.title, blog_post, class: "mt-1 block text-lg leading-tight font-medium text-black hover:underline" %></h2>
        <p class="mt-2 text-gray-500"><%= blog_post.content %></p>
      </div>
    </div>
  </div>
<% end %>
