<% if user_signed_in? %>
  <%= link_to "Edit", edit_blog_post_path(@blog_post), class: "m-2 bg-orange-100 px-4 py-2 rounded hover:bg-orange-200" %>
<% end %>

<h1 class="text-center"><%= @blog_post.title %></h1>
<p><%= @blog_post.content %></p>
